#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
}

#forms-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#question-list {
    display: flex;
    flex-direction: column;
}

.question {
    justify-content: space-between;
    display: flex;
    border: 2px solid #7c93a7;
    border-radius: 25px;
    padding: 1%;
    width: 40%;
    font-size: 14px;
}

#choice-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 10px;
}

footer {
    padding-left: 25px;
}

/////////////////////////////////////////////////////////////////////
/// EVERYTHING BELOW THIS LINE FROM QUIZ GENERAL INFO COMPONENT
////////////////////////////////////////////////////////////////
