<app-top-bar [title]="pageTitle"></app-top-bar>
<div id="container" *ngIf="newQuiz">
    <div id="forms-container">
        <form #addQuizForm="ngForm">
            <app-quiz-general-info (blockSubmit)="onGeneralInfoChange($event)" [newQuiz]="newQuiz"></app-quiz-general-info>
            <app-quiz-question-info [newQuiz]="newQuiz"></app-quiz-question-info>
            <button (click)="openQuizConfirmation()" [disabled]="!isQuizFormValid()">Sauvegarder</button>
        </form>
    </div>
    <div id="question-list">
        <label>Liste de questions : </label>
        <div *ngFor="let question of newQuiz.questions; let i = index">
            <div *ngIf="question.text !== ''" class="question">
                {{ i + 1 }}. <label id="question-display">Question : {{ question.text }}</label
                ><br />
                <label>Type : {{ question.type }}</label
                ><br />
                <label>Points : {{ question.points }}</label
                ><br />
                <div id="choice-container" *ngFor="let choice of question.choices; let j = index">
                    <div id="choice">
                        Choix {{ j + 1 }} :
                        <label>{{ choice.text }} : </label>
                        <label>{{ choice.isCorrect }}</label>
                    </div>
                </div>
                <button (click)="modifyQuestion(question, i)">Modifier</button>
                <button (click)="deleteQuestion(i)">Supprimer</button>
            </div>
            <button type="button" class="btn btn-secondary" [disabled]="i === 0">
                <mat-icon>arrow_upward</mat-icon>
            </button>
            <button type="button" (click)="moveQuestionDown(i)" class="btn btn-secondary" [disabled]="i === newQuiz.questions.length - 1">
                <mat-icon>arrow_downward</mat-icon>
            </button>
        </div>
    </div>
</div>
