<app-top-bar [title]="formTitle"></app-top-bar>
<h2>Add New Quiz</h2>
<form #addQuizForm="ngForm">
    <app-quiz-general-info #generalInfoForm></app-quiz-general-info>
    
    <label>Liste de questions : </label>
    <div id="all-question-elements">
        <div *ngFor="let question of newQuiz.questions; let i = index" class="question-container">
            <div *ngIf="question.text !== ''" class="question">{{i + 1}}.
                <label id="question-display">Question : {{ question.text }}</label><br>
                <label>Type : {{ question.type }}</label><br>
                <label>Points : {{ question.points }}</label><br>
                <div id="choice-container" *ngFor="let choice of question.choices; let j = index">
                    <div id="choice"> Choix {{ j + 1 }} :
                        <label>{{ choice.text }} : </label>
                        <label>{{ choice.isCorrect }}</label>
                    </div>
                </div>
                <button (click)="modifyQuestion(question, i)">Modifier</button>
                <button (click)="deleteQuestion(i)">Supprimer</button>
            </div>
            <button type="button" (click)="moveQuestionUp(i)" class="btn btn-secondary" [disabled]="i === 0">Move Up</button>
            <button type="button" (click)="moveQuestionDown(i)" class="btn btn-secondary" [disabled]="i === newQuiz.questions.length - 1">Move Down</button>
        </div>
        <div id="new-question-form">
            <app-quiz-question-info [newQuiz]="newQuiz"></app-quiz-question-info> 
        </div>
    </div>
    <button (click)="openQuizConfirmation()" [disabled]="!isQuizFormValid()">Add Quiz</button>
</form>