<div id="container">
    <p>
        <mat-dialog-content>{{ config.message }}</mat-dialog-content>
    </p>

    <mat-dialog-actions id="button-container">
        <button mat-button id="cancel-btn" type="button" *ngIf="config.hasCancelButton" (click)="cancelFunctionWrapper()">
            {{ config.cancelButtonText ?? 'Annuler' }}
        </button>
        <button mat-button id="ok-btn" type="button" (click)="okFunctionWrapper()">{{ config.okButtonText ?? 'OK' }}</button>
    </mat-dialog-actions>
</div>
