#grid-container {
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 15% 60% 25%;
    margin: auto;
    height: 90%;
    width: 90%;

    #exit-button-grid {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .mat-icon {
            font-size: 3em;
            max-width: 100%;
            height: auto;
        }

        .mat-icon:hover {
            color: red;
            cursor: pointer;
        }
    }

    #game-title-grid {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 2rem;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    #questions-grid {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        border: 1px solid black;
    }

    #chat-player-grid {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        border: 1px solid black;
        display: grid;
        grid-template-rows: 15% 85%;

        #player-grid {
            grid-row: 1 / 2;
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 15% 85%;
            align-items: center;

            #chat-grid {
                grid-row: 2 / 3;
            }
        }
    }
}
