#grid-container {
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 15% 60% 25%;
    margin: auto;
    height: 90%;
    width: 90%;

    #exit-button-grid {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .mat-icon {
            font-size: 2em;
            max-width: 100%;
            height: auto;
        }

        .mat-icon:hover {
            color: red;
            cursor: pointer;
        }
    }

    #questions-grid {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        border: 1px solid black;
    }

    #countdown-grid {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #chat-player-flex {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 25px;

        #chat-container {
            max-height: 400px;
            min-height: 400px;
        }
    }
}
