#question-zone-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 85% 15%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    #question-points-zone {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #points-message {
            font-size: x-large;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        #question {
            font-size: 1.3em;
            text-align: center;
            margin: 10px 10px;
            overflow: auto;
        }

        #points {
            font-size: large;
            text-align: center;
            margin: unset;
        }
    }

    #choices-zone {
        width: 100%;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        button {
            position: relative;
            left: 30%;
            max-width: 60%;
            width: 60%;
            border-radius: 5%;
            border: solid transparent;
            background-color: #007bff;
            font-size: large;
            font-weight: bold;
            overflow-wrap: break-word;
            color: white;
            text-align: center;
            padding: 15px 0;
            transition: all 0.1s;
            box-shadow: 0 10px #8cdfff;

            &.active {
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                transform: translateY(4px);
                opacity: 0.7;
                border-color: black;
            }

            &:hover {
                cursor: pointer;
                background-color: #0056b3;
            }

            &:focus {
                outline: none;
            }
        }
    }

    #text-zone {
        width: 100%;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: center;

        textarea {
            height: 35%;
            width: 80%;
            align-self: flex-end;
            resize: none;
            font-size: large;
            padding: 10px;
            border: solid medium;
            border-radius: 5px;
            background-color: azure;

            &:disabled {
                background-color: #dedede;
            }
        }

        #counter {
            align-self: flex-end;
            font-size: small;
        }
    }

    #submit-zone {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;

        button {
            width: 90%;
            max-width: 90%;
            background-color: forestgreen;
            color: aliceblue;
            align-self: flex-start;
            padding: 10% 0%;
            font-size: small;
            font-weight: bold;
            position: relative;
            top: 80%;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;

            &:disabled {
                background-color: grey;
            }

            &:not(:disabled):hover {
                cursor: pointer;
                background-color: rgb(7, 68, 7);
            }
        }
    }
}
