#question-zone-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 85% 15%;
    background-color: lightcyan;

    .question-points-zone {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        #points-message {
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        #question {
            font-size: 1.5em;
            text-align: center;
            margin: 10px 10px;
            overflow: auto;
        }

        #points {
            font-size: 1.5em;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 0;
        }
    }

    #choices-submit-zone {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .choices-zone {
        width: 100%;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        button {
            position: relative;
            left: 30%;
            max-width: 60%;
            width: 60%;
            border-radius: 5%;
            border-style: outset;
            border-width: 10px;
            border-color: white;
            background-color: blueviolet;
            font-size: 2em;
            font-family: Arial, Helvetica, sans-serif;
            overflow-wrap: break-word;
            color: white;
            padding: 15px 0;

            &.active {
                background-color: blue;
                border-color: black;
            }

            &:hover {
                cursor: pointer;
                background-color: peru;
            }

            &:focus {
                outline: none;
            }
        }
    }

    #submit-zone {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;

        button {
            width: 90%;
            max-width: 90%;
            background-color: gray;
            color: aliceblue;
            align-self: flex-start;
            padding: 10% 0%;
            font-size: 1.2vw;
            font-weight: bold;
            position: relative;
            top: 80%;

            // box-shadow code from https://www.w3schools.com/css/css3_buttons.asp
            &:hover {
                cursor: pointer;
                box-shadow:
                    0 12px 16px 0 rgba(0, 0, 0, 0.24),
                    0 17px 50px 0 rgba(0, 0, 0, 0.19);
            }
        }
    }
}
