<div id="question-zone-container">
    <div id="question-points-zone">
        <p id="points">X Points!</p>
        <p id="question">1. Question ABC</p>
    </div>
    <div id="choices-zone">
        <input type="button" class="button" value="Choix 1" />
        <input type="button" class="button" value="Choix 2" />
        <input type="button" class="button" value="Choix 3" />
        <input type="button" class="button" value="Choix 4" />
    </div>
    <div id="submit-zone">
        <input type="button" class="button" value="Soumettre" />
    </div>
</div>
