#question-zone-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 85% 15%;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;    

    .question-points-zone {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        #points-message {
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        #question {
            font-size: 1.7em;
            text-align: center;
            overflow: auto;
        }

        #points {
            font-size: 1.5em;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 0;
        }
    }

    #choices-submit-zone {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }

    .choices-zone {
        width: 100%;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    button {
        position: relative;
        left: 30%;
        max-width: 60%;
        width: 60%;

        border-radius: 8px;
        background-color: blue;
        color: #fff;
        font-size: 1.5em;
        font-family: 'Arial', sans-serif;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        border: none;
        padding: 15px 0;
      
        &.active {
          background-color:  rgb(11, 9, 96); /* Change color when active */
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow when active */
        }
      
        &:hover {
          background-color:  rgb(231, 122, 255); /* Change color on hover */
        }
      
        &:focus {
          outline: none;
        }
      }
    } 
      

        #submit-zone {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;

        button {
            width: 90%;
            border-radius: 8px;
            background-color: gray;
            color: aliceblue;
            font-size: 1.0em;
            font-family: 'Arial', sans-serif;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
            border: none;
            padding: 15px 0;
            font-weight: bold;
            position: relative;
            top: 80%;
        }
    }
}
