@import "~@fortawesome/fontawesome-free/css/all.css";


.background {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0; 
}

.title-container h1 {
  margin: 0; 
}

.fa-file-import {
  margin-right: 10px; 
  color: #000000;
}

.fa-file-import:hover {
  color: #007bff;
}
.list-title {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.title-left {
  flex-grow: 1; 
}


.title-right {
  font-size: 24px; 
}
.game-list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 75%;
  max-width: 1200px;
}

.item-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.title {
  flex: 1;
  padding: 0 10px;
}


.game-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
}

.game-item:hover {
  background-color: #f0f0f0;
}
.game-info {
  flex: 1;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.game-actions {
  flex: 0 0 auto;
  display: flex;
  gap: 10px;
  padding-right: 25px;
}

.action-icon {
  cursor: pointer;
  color: #000000;
  transition: color 0.3s;
  padding: 15px;
}

.action-icon:hover {
  color: #007bff;
}

