<body class="background">
  <div class="game-list">
    <div class="item-header">
      <div class = "title"  id="name">Nom</div>
      <div class = "title" id="date-created">Date de création</div>
      <div class = "title" id="visibility">Visibilité</div>
      <div class = "title" id="actions">Actions</div>
    </div>
    <div class="game-container" *ngFor="let quiz of quizList.value">
      <div class="game-item">
        <div class="game-info element">
          <span>{{ quiz.title }}</span>
        </div>
        <div class="game-info element">
          <span>{{ quiz.lastModification }}</span>
        </div>
        <div class="game-info element">
          <span (click)="toggleVisibility(quiz)" class="action-icon" [title]="quiz.visibility ? 'Cacher ' + quiz.title : 'Afficher ' + quiz.title">
            <i [class]="quiz.visibility ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
          </span>
        </div>
        <div class="game-actions element">
          <span (click)="deleteQuiz(quiz)" class="action-icon" [title]="'Supprimer ' + quiz.title">
            <i class="fas fa-trash"></i>
          </span>
          <span (click)="exportQuiz(quiz)" class="action-icon" [title]="'Exporter ' + quiz.title">
            <i class="fas fa-download"></i>
          </span>
          <span (click)="editQuiz(quiz)" class="action-icon" [title]="'Modifier ' + quiz.title">
            <i class="fas fa-edit"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</body>
