@import '~@fortawesome/fontawesome-free/css/all.css';

table {
    border-collapse: collapse;
    width: 100%;
}

#container {
    display: flex;
    justify-content: center;
}

#items {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 80%;
    max-width: 1000px;
    max-height: 450px;
    margin-top: 5%;

    overflow-y: scroll;
}

.toggleButton {
    background: transparent;
    border: none !important;
}

tr {
    text-align: left;
    border-collapse: collapse;
    
}

td {
    padding-left: 5px;
}
#quizInfo {
    display: flex;
}

#mainDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}

#quizDetails {
    background-color: #007bff3a;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th {
    background-color: rgb(45, 187, 235);
    color: white;
    padding-left: 5px;
}

.fa,
.fas,
.fa-solid {
    margin-right: 10px;
    color: #007bff;
    font-weight: bold;
    text-shadow: rgba(69, 68, 66, 0.387) 1px 0 5px;
}

.fa:hover,
.fas:hover,
.fa-solid:hover {
    color: #060688;
    font-weight: bold;
    cursor: pointer;
}

#optionsButton {
    display:flex;
    justify-content: flex-end;
    margin-right: 2px;
}

#testButton, #createButton {
    border: 2px solid rgb(45, 187, 235);
    border-radius: 6px;
}
