<div id="container">
    <div id="items">
        <h3>Liste des jeux disponibles</h3>
        <table>
            <tr>
                <th>Nom du jeu</th>
            </tr>
            <p *ngIf="visibleQuizList.length < 1">Aucun jeu n'est disponible pour le moment...</p>
            <tbody>
                <ng-container *ngFor="let quiz of visibleQuizList">
                    <div class="main-details">
                        {{ quiz.title }}
                        <button (click)="toggleDetails(quiz.id)" class="toggle-button" [ngClass]="{ active: selectedQuizId === quiz.id }">
                            <i
                                class="fa-solid fa-plus iconClick"
                                [ngClass]="{ 'fa-plus': !selectedQuizId || selectedQuizId !== quiz.id, 'fa-minus': selectedQuizId === quiz.id }"
                            >
                            </i>
                        </button>
                    </div>

                    <tr *ngIf="selectedQuizId === quiz.id">
                        <td colspan="3" class="quiz-details">
                            <div class="option-buttons">
                                <button (click)="checkAndCreateRoom(quiz, true)" class="button">Tester ce jeu</button>
                                <button (click)="checkAndCreateRoom(quiz)" class="button">Créer une partie</button>
                            </div>
                            <div class="quiz-info">
                                <div>
                                    <h3>Détails du jeu</h3>
                                    <ul>
                                        <li>
                                            <div class="sous-titre">Description :</div>
                                            {{ quiz.description }}
                                        </li>
                                        <li>
                                            <div class="sous-titre">Temps alloué par QCM (choix multiples) :</div>
                                            {{ quiz.duration }}s
                                        </li>
                                        <li>
                                            <div class="sous-titre">Temps alloué par QRL (réponses longues) :</div>
                                            60s
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <h3>Liste des questions :</h3>
                                    <ul>
                                        <li *ngFor="let question of quiz.questions">
                                            <div class="sous-titre">{{ question.type }}:</div>
                                            <div>{{ question.text }}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
