<div id="player-list" *ngIf="playerResults">
    <div id="titles">
        <span id="nameTitle">Nom
            <div id="nameOrders">
                <button (click)="sortByName()">
                    <mat-icon id="orderByName">sort_by_alpha</mat-icon>
                </button>
                <button id="orderByState" (click)="sortByState()">
                    <mat-icon id="orderByState">swap_vert</mat-icon>
                </button>
            </div>
        </span>
        <span *ngIf="!isResultsRoute" id="scoreTitle">Score
            <div>
                <button id="orderByPoints" (click)="sortByPoints()">
                    <mat-icon id="orderByPoints">swap_vert</mat-icon>
                </button>
            </div>
        </span>
        <span *ngIf="isResultsRoute">Score final</span>
        <span *ngIf="isResultsRoute">Bonus</span>
    </div>
    <div *ngFor="let player of playerResults" class="player-entry">
        <span class="player-name" 
            [ngClass]="{
            'abandoned': player.hasAbandoned, 
            'confirmedAnswer': player.hasConfirmedAnswer, 
            'interacted': player.hasClickedOnAnswerField
            }">
            {{ player.name }}
        </span>
        <span class="player-score">{{ player.points }} points</span>
        <span *ngIf="isResultsRoute" class="player-bonus">{{ player.bonusCount }} fois</span>
    </div>
</div>