#player-list {
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    table-layout: fixed;
}

th,
td {
    text-align: left;
    vertical-align: middle;
    padding: 7px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.player-score {
    width: 30%;
}

.player-score,
.player-bonus {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
}

th.player-name {
    width: 45%;
}

td.player-name {
    width: 45%;
    color: red;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
}

.player-name {
    .mat-icon:hover {
        cursor: pointer;
    }
}

.player-name.abandoned {
    text-decoration: line-through;
    color: black;
}

.player-name.interacted {
    color: rgb(225, 225, 30);
}

.player-name.confirmed-answer {
    color: green;
}

.player-name-result-page {
    color: black;
}

.player-score {
    margin-left: 10px;
    min-width: 60px;

    .mat-icon:hover {
        cursor: pointer;
    }
}

.player-bonus {
    margin-left: 10px;
}

#order-by-state {
    background: linear-gradient(to bottom, rgb(249, 73, 73), rgb(227, 227, 89), rgb(71, 208, 71), rgb(47, 46, 46));
}

#order-by-state.ascending {
    background: linear-gradient(to bottom, rgb(47, 46, 46), rgb(71, 208, 71), rgb(227, 227, 89), rgb(249, 73, 73));
}

/* Ces attributs ont été trouvés dans l'inspecteur du navigateur quand le slide toggle était sélectionné,
    les valeurs de couleur ont été changées pour correspondre avec l'apparence voulue */
.chat-button {
    text-align: center;
    width: 25%;

    .mat-mdc-slide-toggle.mat-accent {
        --mdc-switch-selected-focus-state-layer-color: #2f8832;
        --mdc-switch-selected-handle-color: #2f8832;
        --mdc-switch-selected-hover-state-layer-color: #2f8832;
        --mdc-switch-selected-pressed-state-layer-color: #2f8832;
        --mdc-switch-selected-focus-handle-color: #388e3c;
        --mdc-switch-selected-hover-handle-color: #388e3c;
        --mdc-switch-selected-pressed-handle-color: #388e3c;
        --mdc-switch-selected-focus-track-color: #a5d6a7;
        --mdc-switch-selected-hover-track-color: #a5d6a7;
        --mdc-switch-selected-pressed-track-color: #a5d6a7;
        --mdc-switch-selected-track-color: #a5d6a7;

        --mdc-switch-unselected-focus-state-layer-color: #d32f2f;
        --mdc-switch-unselected-pressed-state-layer-color: #d32f2f;
        --mdc-switch-unselected-hover-state-layer-color: #d32f2f;
        --mdc-switch-unselected-focus-track-color: #ffcdd2;
        --mdc-switch-unselected-hover-track-color: #ffcdd2;
        --mdc-switch-unselected-pressed-track-color: #ffcdd2;
        --mdc-switch-unselected-track-color: #ffcdd2;
        --mdc-switch-unselected-focus-handle-color: #b71c1c;
        --mdc-switch-unselected-hover-handle-color: #b71c1c;
        --mdc-switch-unselected-pressed-handle-color: #b71c1c;
        --mdc-switch-unselected-handle-color: #c62828;
    }
}
