<div id="player-list" *ngIf="playerResults">
    <div id="titles">
        <span>Nom</span>
        <span *ngIf="!isResultsRoute">Score</span>
        <span *ngIf="isResultsRoute">Score final</span>
        <span *ngIf="isResultsRoute">Bonus</span>
    </div>
    <div *ngFor="let player of playerResults" class="player-entry">
        <span class="player-name" [ngClass]="{ abandoned: player.hasAbandoned }">{{ player.name }}</span>
        <span class="player-score">{{ player.points }} points</span>
        <button *ngIf="isHost" class="chatButton" (click)="toggleChatPerksPlayer(player.name)">TogglePerks</button>
        <span *ngIf="isResultsRoute" class="player-bonus">{{ player.bonusCount }} fois</span>
    </div>
</div>
