#player-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    max-width: 180px;
    max-height: 500px;
}

#titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1em;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.player-entry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1em;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.player-name.abandoned {
    text-decoration: line-through;
}

.player-name {
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.player-score {
    margin-left: 10px;
    min-width: 60px;
}

.player-bonus {
  margin-left: 10px;
}

span {
    padding: 10px;
}

.sort-icon {
    color: #007bff;
}

.sort-icon:hover {
    color: #007bff;
    cursor: pointer;
}
