#player-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#player-entry {
  margin-bottom: 10px;
  font-size: 16px;
}

#player-name.abandoned {
  text-decoration: line-through;
  color: red; 
}

#player-name {
  font-weight: bold;
}

#player-score {
  margin-left: 10px;
}

#abandoned-indicator {
  color: red;
  font-style: italic;
}
