<div id="container">
    <div id="history-list">
        <div id="history-title">
            <h1>Historique</h1>
            <i *ngIf="!isHistoryEmpty" class="fas fa-trash" title="Supprimer l'historique de partie" (click)="openDeleteHistoryPopUp()"></i>
        </div>
        <div class="grid-container">
            <p class="name" (click)="sortHistory('name')">
                Nom du jeu
                <span
                    class="arrow"
                    *ngIf="!isHistoryEmpty"
                    [ngClass]="{ 'arrow-up': isNameAscending, 'arrow-down': !isNameAscending, 'disable-arrow': !isSortingByName }"
                ></span>
            </p>
            <p class="date" (click)="sortHistory('date')">
                Date
                <span
                    class="arrow"
                    *ngIf="!isHistoryEmpty"
                    [ngClass]="{ 'arrow-up': isDateAscending, 'arrow-down': !isDateAscending, 'disable-arrow': isSortingByName }"
                ></span>
            </p>
            <p class="players">Nombre de joueurs</p>
            <p class="score">Meilleur score</p>
        </div>
        <div *ngFor="let game of history" class="grid-container items-container">
            <span class="name" class="items" [title]="game.name">{{ game.name }}</span>
            <span class="date" class="items" [title]="game.date">{{ game.date }}</span>
            <span class="players" class="items">{{ game.numberOfPlayers }}</span>
            <span class="score" class="items">{{ game.maxScore }}</span>
        </div>
    </div>
</div>
