@import '~@fortawesome/fontawesome-free/css/all.css';

#container {
    height: 100%;
    width: 90%;
}

#history-title {
    display: flex;
    justify-content: flex-start;
}

#history-list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-height: 70vh;
    overflow: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 35% 20% 15%;
    align-items: center;
    border-bottom: 1px solid #ccc;

    &.items-container {
        transition: background-color 0.3s;
        &:hover {
            background-color: #f0f0f0;
        }
    }

    p {
        font-weight: bold;
    }

    span.items {
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        padding: 25px 10px;
    }

    p.name {
        cursor: pointer;
    }

    .name {
        grid-column: 1 / 2;
    }

    p.date {
        cursor: pointer;
    }

    .date {
        grid-column: 2 / 3;
    }

    .players {
        grid-column: 3 / 4;
    }

    .score {
        grid-column: 4 / 5;
    }
}

.arrow-up::after {
    color: #007bff;
    content: '▲';
}

.arrow-down::after {
    color: #007bff;
    content: '▼';
}

.disable-arrow::after {
    color: gray;
}

.fa,
.fas,
.fa-solid {
    margin-top: 30px;
    margin-right: 20px;
    color: #007bff;
    font-weight: bold;
    text-shadow: rgba(69, 68, 66, 0.387) 1px 0 5px;
    font-size: larger;
    margin-left: 10px;
}

.fa:hover,
.fas:hover,
.fa-solid:hover {
    color: #060688;
    font-weight: bold;
    cursor: pointer;
}
