.container {
    min-height: 100vh;
    height: auto;
}

img {
    filter: drop-shadow(10px 10px 5px rgb(253, 231, 255));
    margin-top: 2%;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: #04243c;
}

.footer-item {
    text-align: center;
}

.footer-item p {
    color: #7c93a7;
}

// Ce css provient du site suivant: https://getcssscan.com/css-buttons-examples (Bouton 64) par Greenlight
/* CSS */
.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: medium;
    justify-content: center;
    line-height: 1em;
    width: 20%;
    max-width: 100%;
    min-width: 140px;
    padding: 0.5%;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    font-weight: bold;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: large;
        min-width: 196px;
    }
}
