<div class="container justified">
    <h1>
        <img src="../../../assets/images/quizzard_logo.jpg" alt="Logo Projet" length="200px" width="200px"/> 
    </h1>
    <button id="join-game-button" class="home-page-button" routerLink="/game">Join game</button>
    <button id="host-game-button" class="home-page-button" routerLink="/game/new">Host game</button>
    <button id="admin-button" class="home-page-button" routerLink="/admin">Administer game</button>
    <footer class="footer-item">
        <h4 class="team-name">Équipe Poly 207</h4>
        <p>
            <span>Ali Abbas</span>, <span>Bryan Tadié</span>, <span>Gabrielle Côté</span>, 
            <span>Massimo Donato</span>, <span>Rima Al-Zawahra</span>, <span>Yousef Ouarady</span>
        </p>
    </footer>
</div>