#chat-container {
    background-color: white;
    border-radius: 5%;
    height: 100%;
    width: 100%;
    max-height: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    #messages-zone {
        padding: 5px;
        overflow-y: auto;
    }

    #message-box {
        background-color: white;
        width: 95%;
        height: 80%;
        margin-top: 10px;
        border-radius: 15px;
        border-style: inset;
        border-width: thin;
        align-self: center;
        overflow-y: auto;

        p {
            text-align: center;
            font-size: x-large;
        }
    }

    #text-input {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 5px;

        textarea {
            width: 85%;
            height: 15px;
            max-width: 90%;
            max-height: 80%;
            resize: none;
            border-radius: 10px;
            font-size: small;
            font-family: Arial, Helvetica, sans-serif;
            margin: 10px 0 5px 0;
            padding: 5px;
            overflow: hidden;
        }

        .mat-icon {
            font-size: 1.7em;
            align-self: flex-end;
            margin-bottom: 5px;
        }

        .mat-icon:hover {
            cursor: pointer;
            color: blue;
        }
    }

    #counter {
        align-self: flex-end;
        margin-bottom: 1%;
        margin-right: 5%;
        font-size: x-small;
    }
}

.chat-message {
    background-color: lightblue;
    display: flex;
    margin: 4px;
    max-width: 90%;
    align-self: flex-start;
    flex-direction: column;
    padding: 4px;
    border-radius: 10px;
}

.sent {
    align-self: flex-end;
    background-color: #007aff;
    color: #fff;
}

.system-sent {
    align-self: flex-end;
    background-color: #030303;
    color: #fff;
}

.message-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sender-name {
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
}

.message-time {
    font-size: 10px;
}

.message-text {
    word-break: break-word;
    font-size: 12px;
}

// Code tiré de https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
