<div id="chat-container">
    <div id="message-box">
        <div id="message-container" *ngFor="let message of roomMessages">
            <div class="chat-message" [ngClass]="{ sent: message.sentByYou }">
                <div class="message-info">
                    <div class="sender-name">{{ message.name }}</div>
                    <div class="message-time">{{ message.time }}</div>
                </div>
                <div class="message-text">{{ message.message }}</div>
            </div>
        </div>
    </div>
    <div id="text-input">
        <textarea
            id="message"
            placeholder="Écrivez votre message..."
            maxlength="200"
            (input)="expandTextArea($event)"
            (input)="detectCharacterLengthOnInput($event)"
            [(ngModel)]="roomMessage"
        ></textarea>
        <mat-icon inline="true" (click)="sendMessageToRoom()">send</mat-icon>
    </div>
    <span id="counter">{{ characterCounterDisplay }}</span>
</div>
