<div id="chat-container">
    <div id="messages-zone" #scrollMe>
        <div class="message-box" *ngFor="let message of roomMessages">
            <div
                class="chat-message"
                [ngClass]="{
                    sent: message.authorName === playerName && !message.fromSystem,
                    'system-sent': message.fromSystem && this.isOrganizer,
                    'lost-chat-perks': message.fromSystem && message.message === lostChatPermissionMessage,
                    'granted-chat-perks': message.fromSystem && message.message === grantedChatPermissionMessage
                }"
            >
                <div class="message-info">
                    <div class="sender-name">{{ message.authorName }}</div>
                    <div class="message-time">{{ message.time }}</div>
                </div>
                <div class="message-text">{{ message.message }}</div>
            </div>
        </div>
    </div>
    <div id="text-input">
        <textarea
            id="message"
            [placeholder]="getPlaceholder()"
            maxlength="200"
            (input)="expandTextArea($event)"
            (input)="detectCharacterLengthOnInput($event)"
            (keyup)="keyUpEvent($event)"
            [(ngModel)]="userMessage"
            [disabled]="!canChat"
            [ngClass]="{ 'disable-messageBox': !canChat }"
        >
        </textarea>
        <button [disabled]="!canChat" (click)="sendMessageToRoom()" (keyup.enter)="sendMessageToRoom()">
            <mat-icon [ngClass]="{ disabled: !canChat }" inline="true">send</mat-icon>
        </button>
    </div>
    <span id="counter">{{ characterCounterDisplay }}</span>
</div>
