<div id="chat-container">
    <div id="messages-zone">
        <div class="message-box" *ngFor="let message of roomMessages">
            <div
                class="chat-message"
                [ngClass]="{
                    sent: message.sentByUser && message.authorName !== 'System',
                    'system-sent': message.authorName === 'System' && this.isOrganizer
                }"
            >
                <div class="message-info">
                    <div class="sender-name">{{ message.authorName }}</div>
                    <div class="message-time">{{ message.time }}</div>
                </div>
                <div class="message-text">{{ message.message }}</div>
            </div>
        </div>
    </div>
    <span class="chat-disabled" *ngIf="!canPlayerChat()">L'oganisateur a limité vos droits de clavardage.</span>
    <div id="text-input">
        <textarea
            id="message"
            [placeholder]="getPlaceholder()"
            maxlength="200"
            (input)="expandTextArea($event)"
            (input)="detectCharacterLengthOnInput($event)"
            (keyup)="keyUpEvent($event)"
            [(ngModel)]="userMessage"
            [disabled]="!canPlayerChat()"
            [ngClass]="{
                'disable-messageBox': !canPlayerChat()
            }"
        >
        </textarea>
        <mat-icon inline="true" (click)="sendMessageToRoom()" (keyup.enter)="sendMessageToRoom()" [attr.disabled]="!canPlayerChat()">send</mat-icon>
    </div>
    <span id="counter">{{ characterCounterDisplay }}</span>
</div>
