@import '~@fortawesome/fontawesome-free/css/all.css';

h2 {
    margin: unset;
}

#save-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    align-items: center;
    gap: 6%;
}

#container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 10px 25px;

    #forms-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-width: 50%;
    }

    #questions-container {
        width: 100%;

        ol {
            height: 80vh;
            overflow-y: auto;
        }
    }

    .question {
        border-radius: 5px;
        margin: 5px;

        .question-content {
            display: grid;
            grid-template-rows: auto auto;
            padding: 5px 10px;

            .question-actions {
                display: flex;
                justify-content: space-between;
                width: 100%;
                grid-row: 1/2;
                justify-self: flex-end;
            }

            .question-info {
                grid-row: 2/3;
                overflow: hidden;
                max-width: 100%;
                width: fit-content;
                white-space: nowrap;
            }
        }
    }

    p {
        margin: unset;
    }
}

.qrl {
    border: 4px solid #0048bc;
}

.qcm {
    border: 4px solid #bf9aff;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
    padding: 10px;

    &:disabled {
        background-color: grey;
    }

    &:not(:disabled):hover {
        cursor: pointer;
        background-color: #0056b3;
    }
}

.icons {
    background: none;
    border: none;
    color: #007bff;
    font-weight: bold;
    text-shadow: rgba(69, 68, 66, 0.387) 1px 0 5px;
    padding: unset;
    margin-right: 10px;

    .mat-icon {
        font-size: medium;
        font-weight: bold;
    }

    &:disabled {
        color: grey;
    }

    &:hover:not(:disabled) {
        cursor: pointer;
        color: #060688;
    }
}

.fa,
.fas,
.fa-solid {
    color: #007bff;
    font-weight: bold;
    text-shadow: rgba(69, 68, 66, 0.387) 1px 0 5px;
}

.fa:hover,
.fas:hover,
.fa-solid:hover {
    color: #060688;
    font-weight: bold;
    cursor: pointer;
}

// Code tiré de https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
