h2 {
    margin: unset;
}

#save-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;

    button {
        padding: 5px;
    }
}

#container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 10px 25px;

    #forms-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-width: 50%;
    }

    #questions-container {
        width: 100%;
    }

    .question {
        border: 2px solid #bbdaf7;
        border-radius: 5px;

        .question-content {
            display: grid;
            grid-template-rows: auto auto;
            padding: 5px 10px;

            .question-actions {
                grid-row: 1/2;
                justify-self: flex-end;
            }

            .question-info {
                grid-row: 2/3;
                overflow: hidden;
                max-width: 100%;
                width: fit-content;
                white-space: nowrap;
            }
        }
    }

    p {
        margin: unset;
    }
}




