p {
    font-size: medium;
    text-align: center;
    margin: unset;
    font-weight: bold;
}

#countdown-background {
    background-color: skyblue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 10px 0;

    #countdown {
        font-size: x-large;
        font-weight: bold;
        max-width: 100%;
        max-height: 90%;
    }
}

#countdown-options {
    display: flex;
    width: 100%;
    justify-content: space-evenly;

    button {
        background-color: rgb(255 255 255);
        color: rgba(0, 0, 0, 0.87);
        border: solid transparent;
        border-radius: 5px;
        font-size: large;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        transition: box-shadow 0.3s;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

        &:disabled {
            opacity: 0.5;
        }

        &:not(:disabled):hover {
            cursor: pointer;
            border: solid black;
            box-shadow:
                0 12px 16px 0 rgba(0, 0, 0, 0.24),
                0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
    }
}
