p {
    font-size: medium;
    text-align: center;
    margin: unset;
}

#countdown-background {
    background-color: lightblue;
    border-style: solid;
    border-radius: 50%;
    border-color: black;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 10px 0;

    #countdown {
        font-size: 2rem;
        font-weight: bold;
        max-width: 100%;
        max-height: 90%;
    }
}

#countdown-options {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

    button {
        font-size: large;
    }
}
