<h2>Informations générales</h2>
<form id="general-info" [formGroup]="generalInfoForm">
    <div id="title-div">
        <label class="textarea-label" for="newTitle">Titre :</label>
        <div class="flex-input" [ngClass]="{ infoPadding: isTitleValid }">
            <input
                (input)="adjustPadding()"
                (blur)="adjustPadding()"
                type="text"
                name="newTitle"
                id="newTitle"
                placeholder="Titre du questionnaire"
                [value]="titleValue"
                [maxlength]="maxLengthTitle"
                (input)="onCharacterChangeTitle($event)"
                [appTitleExists]="getQuizList()"
                formControlName="title"
                required
            />
            <span id="title-counter" class="counter">{{ counterTitle }}</span>
        </div>
        <p
            class="error"
            id="verify-title"
            *ngIf="generalInfoForm.controls.title.invalid && (generalInfoForm.controls.title.dirty || generalInfoForm.controls.title.touched)"
        >
            Le titre entré existe déjà ou doit avoir au moins un caractère
        </p>
    </div>

    <div id="description-div">
        <label class="textarea-label" for="newDescription">Description :</label>
        <div class="flex-input" [ngClass]="{ infoPadding: isDescriptionValid }">
            <input
                (input)="adjustPadding()"
                (blur)="adjustPadding()"
                type="text"
                name="newDescription"
                id="newDescription"
                placeholder="Description du questionnaire"
                [value]="descriptionValue"
                [maxlength]="maxLengthDescription"
                (input)="onCharacterChangeDescription($event)"
                formControlName="description"
            />
            <span id="description-counter" class="counter">{{ counterDescription }}</span>
        </div>
        <p
            class="error"
            id="verify-description"
            *ngIf="
                generalInfoForm.controls.description.invalid &&
                (generalInfoForm.controls.description.dirty || generalInfoForm.controls.description.touched)
            "
        >
            La description est obligatoire
        </p>
    </div>

    <div id="duration-div">
        <label id="duration-label" for="newDuration">Temps alloué par question QCM (en sec) :</label>
        <div [ngClass]="{ infoPadding: isDurationValid }">
            <input
                (input)="adjustPadding()"
                type="number"
                name="newDuration"
                id="newDuration"
                min="10"
                max="60"
                placeholder="Durée question"
                [appRangeValidator]="{ min: 10, max: 60 }"
                formControlName="duration"
                required
            />
        </div>
        <p id="verify-duration" class="error" *ngIf="generalInfoForm.controls.duration.invalid">La durée allouée doit être entre 10 et 60 secondes</p>
    </div>
</form>
