#general-info {
    justify-content: center;
    border: 5px solid #04243c;
    margin-top: 50px;
    padding: 30px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

#newDescription {
    width: 300px;
}

#title-div, #description-div, #verify-duration {
    margin-right: 50px;
}

#verify-duration, #verify-title, .counter {
    font-size: 11px;
}

#verify-duration, #verify-title {
    color: red;
}

.counter {
    color: #04243c;
}

textarea {
    resize: none;
}
