#general-info {
    justify-content: center;
    border: 5px solid #04243c;
    margin-top: 50px;
    padding: 30px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

#newDescription {
    width: 300px;
}

#newTitle, #newDescription, #verify-duration {
    margin-right: 50px;
}

#verify-duration {
    font-size: 11px;
    color: red;
}