#general-info {
    justify-content: center;
    border: 5px solid #04243c;
    margin-top: 50px;
    padding: 30px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

#newDescription {
    width: 250px;
}

#newTitle, #newDescription {
    text-overflow: ellipsis;
}

#newDuration {
    display: inline-flex;
}

.textarea-label {
    display: inline-flex;
}

#title-div, #description-div, #duration-div {
    padding-right: 100px;
}

#verify-duration, #verify-title, #verify-description, .counter {
    font-size: 11px;
}

#verify-duration, #verify-title, #verify-description {
    color: red;
}

.counter {
    color: #04243c;
}

#title-counter { 
    margin-left: 168px;
}

#description-counter {
    margin-left: 300px;
}

textarea {
    resize: none;
}
