<app-top-bar [title]="title"></app-top-bar>
<div id="grid-container">
    <div id="exit-button-grid">
        <mat-icon (click)="openQuitPopUp()" title="Quitter la Partie" inline="true">exit_to_app</mat-icon>
    </div>
    <div id="countdown-player-list-grid">
        <app-countdown [isHost]="true" id="countdown-container"></app-countdown>
        <div id="player-list-countainer">
            <app-game-players-list></app-game-players-list>
        </div>
    </div>
    <div id="questions-stats-grid">
        <p>
            Cette section sera un component séparé.<br />
            Celui-ci va contenir le titre de la question, sa valeur en point et l'histogramme
        </p>
    </div>
    <div id="chat-player-flex">
        <app-profile [isHost]="true" id="profile-container"></app-profile>
        <app-chat id="chat-container"></app-chat>
    </div>
</div>
