#grid-container {
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 25% 50% 25%;
    margin: 0 2%;
    height: 90%;

    #exit-button-grid {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 5%;
        margin-left: 5%;

        .mat-icon {
            color: white;
            font-size: 2.5em;
            max-width: 100%;
            height: auto;
            transform: rotate(180deg);
        }

        .mat-icon:hover {
            color: red;
            cursor: pointer;
        }
    }

    #questions-stats-grid {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    #countdown-player-list-grid {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-right: 5%;
        gap: 2%;

        #countdown-container {
            flex-basis: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #player-list-container {
            margin-top: 5px;
            width: 100%;
        }
    }

    #chat-player-flex {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: 5%;
        gap: 2%;

        #chat-container {
            height: 60vh;
        }
    }

    // Code tiré de https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
