<app-top-bar [title]="'Hôte de la partie'"></app-top-bar>
<div id="grid-container">
    <div id="game-title-grid">
        <h2 *ngIf="quiz">{{ quiz.title }}</h2>
    </div>
    <div id="countdown-player-list-grid">
        <app-countdown [isHost]="true" id="countdown-container"></app-countdown>
        <div id="player-list-countainer"><p>Liste de joueur (Component)</p></div>
    </div>
    <div id="questions-stats-grid">
        <p>
            Cette section sera un component séparé.<br />
            Celui-ci va contenir le titre de la question, sa valeur en point et l'histogramme
        </p>
    </div>
    <div id="chat-player-flex">
        <app-profile [isHost]="true" id="profile-container"></app-profile>
        <app-chat id="chat-container"></app-chat>
    </div>
</div>
