#headers {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1%;
    padding-bottom: 0%;

    .mat-icon {
        transform: rotate(180deg);
        font-size: 3em;
        display: flex;
        justify-content: flex-end;
        width: 6%;
    }

    .mat-icon:hover {
        color: red;
        cursor: pointer;
    }

    #roomId {
        text-align: center;
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    #bannedList {
        text-align: center;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        padding-right: 3%;
    }
}

#lists {
    display: flex;
    height: 65vh;
    overflow: hidden;
    justify-content: center;
}

#list-component {
    display: flex;
    flex-direction: column;
    width: 75%;

    &.player-center {
        align-items: center;
        margin-left: 5%;
    }

    &.host-center {
        align-items: flex-end;
        margin-left: 3%;
    }
}

#players-list {
    border-radius: 7px;
    width: 75%;
    background: rgb(131, 193, 255);
    padding: 2%;
    list-style-position: inside;
    overflow-y: auto;
    margin: 0%;
    height: 65vh;
    box-sizing: border-box;
    margin-right: 5%;

    li {
        border-radius: 9px;
        margin: 2%;
        background: rgb(169, 213, 255);
        padding: 2% 4%;
    }
}

#banned-players-list {
    border-radius: 7px;
    background: rgb(184, 62, 62);
    list-style-position: inside;
    width: 25%;
    overflow-y: auto;
    margin-right: 2%;
    height: 95%;
    height: 65vh;

    ol {
        padding-left: 0%;
    }

    li {
        border-radius: 8px;
        margin: 5% 6%;
        background-color: rgb(249, 178, 178);
        padding: 5px 15px;
    }
}

#host-room-options {
    color: lightgray;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -5%;

    #locks-buttons {
        width: 100%;
        display: flex;
        pointer-events: auto;
        gap: 10px;
        justify-content: center;
        margin-right: 7%;
        margin-top: 1%;

        .button {
            margin: unset;
            background-color: forestgreen;
            padding: 10px 20px;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s;

            &:not(:disabled):hover {
                background-color: rgb(7, 68, 7);
            }

            &:disabled {
                background-color: gray;
                cursor: no-drop;
            }

            &.lock {
                background-color: rgb(85, 164, 242);

                &:hover {
                    background-color: rgb(21, 53, 86);
                }
            }
        }
    }
}

.player span {
    padding: 1%;
    align-items: center;
}

.account {
    vertical-align: middle;
    padding: 2px;
}

.ban-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;

    .banIcon {
        color: red;
    }
}

#countdown-container {
    padding: 2%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#countdown {
    font-size: 48px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#start-game-message {
    color: red; 
    font-size: medium;
    text-align: center; 
    padding-top: 1%; 
}
