#verify-points,
#verify-question,
#verify-choices,
#verify-type {
    font-size: 11px;
    color: red;
}

#create-question-container {
    height: auto;
    border: 3px solid blue;
}

#general-question-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 4%;
}

#newQuestion,
#newChoice {
    text-overflow: ellipsis;
}

#choice-container {
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: row;
    padding-top: 3%;
    padding-bottom: 7%;
}

#question-validation {
    position: absolute;
    right: 3%;
}

//CSS concernant le boutton switch qui determine si le choix est une bonne response ou non : https://www.w3schools.com/howto/howto_css_switch.asp
.switch {
    grid-area: switch;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    transform: translateX(16px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
