h2 {
    padding-top: 15px;
    margin: unset;
    padding-bottom: 5px;
    color: #082540;
}

form {
    border: 3px solid #082540;
    display: grid;
    grid-template-rows: auto auto auto auto;
    padding: 5px;
    overflow: hidden;
    min-width: 250px;

    .actions {
        display: flex;
        flex-direction: row;
        gap: 5px;
        height: 50%;
        margin-left: 10px;
    }

    .overflow-input {
        text-overflow: ellipsis;
        width: 98%;
    }

    .error {
        color: red;
        margin: unset;
        font-size: 10px;
    }

    .choice {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .choice-def {
        display: flex;
        flex-direction: column;
        flex-basis: 80%;
    }

    li {
        padding-bottom: 10px;
    }

    .icon {
        font-size: 10px;
    }

    .actions > button,
    #add-choice > button {
        margin: unset;
    }

    #question-container {
        grid-row: 1/2;
        padding-bottom: 5px;
    }

    #no-error-type-and-points {
        display: flex;
        flex-direction: row;
        gap: 10%;
        width: 100%;
        padding: 5px 0;
    }

    #error-type-and-points {
        grid-row: 2/3;
    }

    #add-choice {
        grid-row: 3/4;
        padding-bottom: 5px;
    }

    #save-button {
        grid-row: 4/5;
    }

    /* Ces attributs ont été trouvés dans l'inspecteur du navigateur quand le slide toggle était sélectionné,
    les valeurs de couleur ont été changées pour correspondre avec l'apparence voulue */
    .mat-mdc-slide-toggle.mat-primary {
        --mdc-switch-selected-focus-state-layer-color: #2f8832;
        --mdc-switch-selected-handle-color: #2f8832;
        --mdc-switch-selected-hover-state-layer-color: #2f8832;
        --mdc-switch-selected-pressed-state-layer-color: #2f8832;
        --mdc-switch-selected-focus-handle-color: #388e3c;
        --mdc-switch-selected-hover-handle-color: #388e3c;
        --mdc-switch-selected-pressed-handle-color: #388e3c;
        --mdc-switch-selected-focus-track-color: #a5d6a7;
        --mdc-switch-selected-hover-track-color: #a5d6a7;
        --mdc-switch-selected-pressed-track-color: #a5d6a7;
        --mdc-switch-selected-track-color: #a5d6a7;

        --mdc-switch-unselected-focus-state-layer-color: #d32f2f;
        --mdc-switch-unselected-pressed-state-layer-color: #d32f2f;
        --mdc-switch-unselected-hover-state-layer-color: #d32f2f;
        --mdc-switch-unselected-focus-track-color: #ffcdd2;
        --mdc-switch-unselected-hover-track-color: #ffcdd2;
        --mdc-switch-unselected-pressed-track-color: #ffcdd2;
        --mdc-switch-unselected-track-color: #ffcdd2;
        --mdc-switch-unselected-focus-handle-color: #b71c1c;
        --mdc-switch-unselected-hover-handle-color: #b71c1c;
        --mdc-switch-unselected-pressed-handle-color: #b71c1c;
        --mdc-switch-unselected-handle-color: #c62828;
    }

    .infoPadding {
        padding-bottom: 13px;
    }
}
