#headers {
    display: flex;
    align-items: center;
    flex-direction: row;

    .mat-icon {
        transform: rotate(180deg);
        font-size: 3em;
        display: flex;
        justify-content: flex-end;
        width: 6%;
        margin-left: 5%;
    }

    .mat-icon:hover {
        color: red;
        cursor: pointer;
    }

    #room-id {
        text-align: center;
        display: flex;
        justify-content: center;

        &.player-center {
            width: 100%;
            margin-right: 8%;
        }

        &.host-center {
            width: 50%;
            margin-left: 20%;
        }
    }

    #banned-list {
        text-align: center;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        padding-right: 3%;
        margin-right: 4%;
    }
}
