<div id="flex-container">
    <div *ngIf="quiz" class="question-points-zone">
        <p id="question" *ngIf="question">{{ question.text }}</p>
        <p id="points" *ngIf="question">({{ question.points }} Points)</p>
    </div>
    <div class="chart-container">
        <app-histogram *ngIf="!isQRLBeingEvaluated" [quiz]="quiz" [roomId]="roomId" [isResultsPage]="false"></app-histogram>
        <app-evaluation-zone
            *ngIf="isQRLBeingEvaluated"
            [answers]="playersQRLAnswers"
            [questionPoints]="question.points"
            [roomId]="roomId"
            (enableNextQuestionButton)="enableNextQuestionButtonOnEvaluationEnd()"
        ></app-evaluation-zone>
    </div>
    <button id="submit-zone" (click)="goToNextQuestion()" [ngStyle]="nextQuestionButtonStyle" [disabled]="isNextQuestionButtonDisable">
        {{ nextQuestionButtonText }}
    </button>
</div>
