<div id="flex-container">
    <div *ngIf="quiz" class="question-points-zone">
        <p id="question" *ngIf="question">{{ question.text }}</p>
        <p id="points" *ngIf="question">({{ question.points }} Points)</p>
    </div>
    <div class="chart-container"><app-histogram [quiz]="quiz" [roomId]="roomId" [isResultsPage]="false"></app-histogram></div>
    <button id="submit-zone" (click)="goToNextQuestion()" [ngStyle]="nextQuestionButtonStyle" [disabled]="isNextQuestionButtonDisable">
        {{ nextQuestionButtonText }}
    </button>
</div>
