<div class="container">
     <!-- Display the list of Quizs -->
    <div>
        <h2>Quizs List</h2>
        <p></p>
        <ul>
            <li *ngFor="let Quiz of quizzes | async">
                {{ Quiz.title }} <!-- assuming there's a name property on QuizList -->
                <button (click)="getQuizFromServer(Quiz.id)">View</button>
                <button (click)="deleteQuizFromServer(Quiz.id)">Delete</button>
            </li>
        </ul>
    </div>
      <!-- Display the selected Quiz -->
    <div *ngIf="selectedQuiz | async as currentQuiz">
        <h2>Selected Quiz</h2>
        <p>Name: {{ currentQuiz.title }}</p>
        <p>Description: {{ currentQuiz.description }}</p>
        <p>Duration: {{ currentQuiz.duration }}</p>
        <p>Question 1: {{ currentQuiz.questions[0].text }}</p>
    </div>
    <h2>Add New Quiz</h2>
    <form #addQuizForm="ngForm" (ngSubmit)="addQuizToServer(newQuiz)">
        <app-quiz-general-info></app-quiz-general-info>
        <app-quiz-question-info></app-quiz-question-info>
        <!-- <div class="questions">
            <h3>Questions</h3>
            <div *ngFor="let question of newQuiz.questions; let i = index">
                <h4>Question {{ i + 1 }}</h4>
                <label>Type de question :</label>
                <input [(ngModel)]="question.type" placeholder="Type" required>

                <label>Question :</label>
                <input [(ngModel)]="question.text" placeholder="Question Text" required>

                <label>Points : </label>
                <input type="number" [(ngModel)]="question.points" placeholder="Points" required>
    
                <div class="choices">
                    <h5>Choices</h5>
                    <div *ngFor="let choice of question.choices">
                        <div class="newAnswer">
                            <label>Choix 1:</label>
                            <input [(ngModel)]="choice.text" placeholder="Choix">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round" (click)="choice.isCorrect = true"></span>
                            </label>
                        </div>
                        <button id="newChoice" (click)="addNewResponse()">Add Choice</button>
                    </div>
                </div>
            </div>
        </div> -->
        <button (click)="addQuizToServer(newQuiz)">Add Quiz</button>
    </form>
    <!-- <div id="test">
        <label>Over Here!!</label>
        <button (click)="addNewInput()">+</button>
    </div> -->
</div>
    
<!--     
    </fieldset>
    <button type="submit">Add Quiz</button>
</form> 
<fieldset id="question-input">
    <label for="question-title">Question : (requis)</label><br>
    <input id="question">
    <div class="response-container">
        <div class="response">
            <input class="response-input" [(ngModel)]="newQuiz.questions[0].text" type="text" placeholder="reponse 1">
            <input class="points" placeholder="points">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="response">
            <input class="response-input" [(ngModel)]="newQuiz.questions[1].text" placeholder="reponse 2">
            <input class="points" placeholder="points">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="response">
            <input class="response-input" [(ngModel)]="newGame.questions[2].text" placeholder="reponse 3">
            <input class="points" placeholder="points">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="response">
            <input class="response-input" [(ngModel)]="newGame.questions[3].text" placeholder="reponse 4">
            <input class="points" placeholder="points">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>        
</fieldset> -->


            <!-- <label for="newTitle">Title:</label>
            <input type="text" [(ngModel)]="newQuiz.title" name="newTitle" id="newTitle" placeholder="Quiz Title" required>

            <label for="newDescription">Description:</label>
            <input type="text" [(ngModel)]="newQuiz.description" name="newDescription" id="newDescription" placeholder="Quiz Description" required>

            <label for="newDuration">Duration (in minutes):</label>
            <input type="number" [(ngModel)]="newQuiz.duration" name="newDuration" id="newDuration" placeholder="Quiz Duration" required> -->
