#general-info {
    justify-content: center;
    border: 5px solid #04243c;
    margin-top: 50px;
    padding: 30px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

<<<<<<< HEAD
#game-name, #game-description, #game-duration {
  width: 200px;
  height: 30px;
}

#game-description {
  display: inline-block;
}

#name, #description, #duration {
    margin-right: 70px;
=======
#name, #description, #duration {
    margin-right: 50px;
>>>>>>> 5e1b4b78 (Modification apporter a la vue des composantes)
}

#question-info {
    justify-content: center;
    border: 5px solid #04243c;
    margin-top: 50px;
    padding: 30px;
}

////////////////////CUSTOMIZE SWITCH//////////////////////////////////

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }