#question-info {
  justify-content: center;
  border: 5px solid #04243c;
  margin-top: 50px;
  padding: 30px;
}

#question-input {
  // justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 20px;
  border: 5px solid #04243c;
}

#question {
  width: 300px;
  height: 30px;
  margin-bottom: 60px;
}

.response-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.response {
  grid-template-areas: "response-input points"
    "response-input switch";
  margin-right: 90px;
  margin-bottom: 30px;
}

.response-input {
  display: grid;
  grid-area: response-input;
  height: 50px;
}

.points {
  grid-area: points;
  width: 35px;
}
