#grid-container {
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 15% 60% 25%;
    margin: auto;
    height: 90vh;
    width: 90vw;

    #exit-button-grid {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .mat-icon {
            font-size: 2.5vw;
            max-width: 100%;
            height: auto;
        }

        .mat-icon:hover {
            color: red;
            cursor: pointer;
        }

        span {
            font-size: 0.8vw;
        }
    }

    #game-title-grid {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
            font-size: 3vw;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    #countdown-grid {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        #countdown {
            font-size: 2vw;
            font-weight: bold;
            text-align: center;
            max-width: 100%;
            max-height: 90%;
            background-color: lightblue;
            padding: 7%;
            box-sizing: border-box;
            border-style: solid;
            border-radius: 50%;
            border-color: black;
            border-width: 0.15em;
            margin: 5px;
        }

        p {
            font-size: 1vw;
            margin-right: 5px;
        }
    }

    #questions-grid {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        border: 1px solid black;
    }

    #chat-player-grid {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        border: 1px solid black;
        display: grid;
        grid-template-rows: 15% 85%;
    }

    #player-grid {
        grid-row: 1 / 2;
        border: 1px solid black;
        display: grid;
        grid-template-columns: 30% 70%;
        align-items: center;

        .mat-icon {
            grid-column: 1 / 2;
            font-size: 3vw;
            justify-self: center;
        }

        p {
            grid-column: 2 / 3;
            font-weight: bold;
            font-size: 1.5vw;
            justify-self: start;
            text-align: center;
        }
    }

    #chat-grid {
        grid-row: 2 / 3;
        border: 1px solid black;
    }
}
