<div id="grid-container">
    <div id="exit-button-grid">
        <mat-icon routerLink="home" title="Quitter la Partie" inline="true">exit_to_app</mat-icon>
        <span>Quitter</span>
    </div>
    <div id="game-title-grid">
        <h2>Nom du Jeu</h2>
    </div>
    <div id="countdown-grid">
        <p>Temps Restant</p>
        <p id="countdown">10</p>
    </div>
    <div id="questions-grid">
        <app-question-zone></app-question-zone>
    </div>
    <div id="chat-player-grid">
        <div id="player-grid">
            <mat-icon inline="true">person</mat-icon>
            <p>
                Joueur A
                <br />
                XYZ points
            </p>
        </div>
        <div id="chat-grid">
            <app-chat></app-chat>
        </div>
    </div>
</div>
