.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    background-color: aliceblue;
    gap: 12%;

    #histogram-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            text-align: center;
            font-size: larger;
            padding: 0 10px;
        }
    }
}

#buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
